
<!--Equipos-->
<div class="py-5 text-center"> 
    <h1 class="h2">Integrantes</h1> 
    <p class="lead">Estudiantes que realizaron el proyecto</p> 
</div>

<!--card - angular -->
<div class="card-container">

   <mat-card class="example-card bg-white">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Diana González</mat-card-title>
      <mat-card-subtitle>Integrante</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="D1iana.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Encargada y jefa de equipo , responsable del formulario reactivo y del apartado de servicios.
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card bg-white" >
    
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rene De Anda</mat-card-title>
      <mat-card-subtitle>Integrante</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="rene.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Responsable del manejo del api y del log in de los administradores
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card bg-white" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hector Oswaldo</mat-card-title>
      <mat-card-subtitle>Integrante</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="oswaldo.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Encargado del QR y de api del mismo
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card bg-white" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Omar</mat-card-title>
      <mat-card-subtitle>User</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="Omar.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Encargado del capcha 
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card bg-white" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ernesto M</mat-card-title>
      <mat-card-subtitle>User</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="ernesto.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Integrante de equipo
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card bg-white" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hector</mat-card-title>
      <mat-card-subtitle>User</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="Hector.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Integrante de equipo
      </p>
    </mat-card-content>
    <button mat-icon-button class="heart-button" aria-label="Favorito">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>
</div>
