<div class="container" style="display: grid; align-items: center; text-align: center;">
  <h2>Escanea tu QR para descubrir tu oferta</h2>
  <p>Lleva tu ID a la sucursal para reclamar tu oferta</p>

  <qrcode [qrdata]="qrUrl" [width]="200" errorCorrectionLevel="M"></qrcode>

  <p><strong>ID:</strong> {{ servicioId }}</p>

  <a [href]="qrUrl" target="_blank" class="btn btn-warning" style="color: white;">
    Ir al enlace
  </a>

  <!--p><strong>URL:</strong> <a [href]="qrUrl" target="_blank">{{ qrUrl }}</a></p-->
</div>
