@use '@angular/material' as mat;
@use '../theme-colors' as my-theme; // <- Asegúrate de que la ruta sea correcta


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: my-theme.$primary-palette,
    ),
    typography: Roboto,
    density: 0,
  )
  , $overrides: (
    primary-container: rgb(255, 255, 255),
  ));
  
}


