<!-- src/components/navbar/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg custom-navbar sticky-top p-4">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="['/inicio']">
      <img src="Raeda-p-removebg-preview.png" alt="Logo" width="100" height="80" class="d-inline-block">
      <div class="brand-text d-flex flex-column">
        <strong><span class="title">RAEDA CARS</span></strong>
        <span class="subtitle">Cars in motion</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        <a class="nav-link" [routerLink]="['/catalogo']">Catálogo</a>
        <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
        <a class="nav-link" [routerLink]="['/financiamiento']">Financiamiento</a>
        <a class="nav-link" [routerLink]="['/equipo']">Equipo</a>

        @if(authState.currentUserProfile(); as profile) {
          <a class="btn btn-orange">Saludos! {{ profile.username }}</a>
          <!-- Lógica condicional para Admin vs. Solicitudes -->
          @if(profile.isAdmin) {
            <a class="btn btn-orange" [routerLink]="['/admin/panel']">Panel Admin</a>
          } @else {
            <a class="btn btn-orange" [routerLink]="['/solicitudes']">Solicitudes</a>
          }

          <a class="btn btn-orange" (click)="cerrarSesion()">Cerrar Sesión</a>
        } @else {
          <a class="btn btn-orange" [routerLink]="['sesion/sign-in']">Iniciar Sesión</a>
          <a class="btn btn-orange" [routerLink]="['sesion/sign-up']">Crear Cuenta</a>
        }

        <!--Accesibilidad web-->
        @if(routerAcc.url==='/inicio'){
          <a class="nav-link" style="font-size: 2.5rem;" (click)="mostrarAccWeb()">
            <i class="bi bi-person-wheelchair"></i>
          </a>
        }
        
      </div>
    </div>
  </div>
</nav>

@if(sideBar===true){
      <aside class="my-sidebar" >
        <button class="close-btn" (click)="mostrarAccWeb()">x</button>
        <h4 style="padding-top: 25px;">Accecsibilidad Web</h4>
        <nav>
          <ul class="accesibilidad-list list-unstyled d-flex flex-column gap-3">
            <!-- Idioma y controles -->
            <p>Controles de lectura</p>

            <li class="accesibilidad-item d-flex align-items-center gap-2 flex-wrap">
              <button class="btn btn-accesible" aria-label="Leer en español"  (click)="leerPaginaCompleta('es')">📖 Leer</button>
              <button class="btn btn-accesible" aria-label="Pausar lectura"   (click)="pausarLectura()">⏸️</button>
              <button class="btn btn-accesible" aria-label="Detener lectura"  (click)="reanudarLectura()">▶️</button>
              <button class="btn btn-accesible" aria-label="Detener lectura"  (click)="detenerLectura()">⏹️</button>
            </li>
            <hr>
            <p>Tamaño de fuente</p>
            <!-- Tamaño de fuente -->
            <li class="accesibilidad-item d-flex align-items-center gap-2 flex-wrap">
              
              <button class="btn btn-accesible" aria-label="Fuente">Fuente</button>
              <button class="btn btn-accesible" aria-label="Aumentar fuente">+</button>
              <button class="btn btn-accesible" aria-label="Disminuir fuente">−</button>
            </li>

            <hr>
            <p>Contraste de color</p>
            <!-- Contraste -->
            <li class="accesibilidad-item d-flex align-items-center gap-2 flex-wrap">
              
              <button class="btn btn-accesible" aria-label="Modo contraste amarillo">Con contraste</button>
              <button class="btn btn-accesible" aria-label="Modo contraste oscuro">Sin contraste</button>
            </li>
          </ul>
        </nav>
      </aside>
    }